.env
env.json
build/
allure-report/
oscript_modules/

ConfigDumpInfo.xml
lastUploadedCommit.txt
lastUploadedConfigDumpInfo.xml
build
out
.scannerwork
.sonarlint/
.idea/


1Cv8FTxt
1Cv8JobScheduler
1Cv8Log
sources
xf_img
xf_Tests
xf_vanessa-automation-single.1.2.041.30
*.CD
*.1CD
*.cfl
*.lgd


test-results/

src\Config\

/src/Config
*.1CL
*.cgr